{% extends 'layout.html' %}
{% block title %}Ver Pagos{% endblock %}
{% block content %}

<div>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert" style="text-align: center;">
        {{message}} <i class="fa-solid fa-thumbs-up"></i>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Pagos</h1>
    <div class="row">
        <div class="col-4">
            <form class="d-flex" role="search" action="/BuscarPagos" method="POST">
                <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                <input class="form-control mr-sm-2 border border-dark" type="text" placeholder="Buscar" name="busqueda"
                    aria-label="Search"
                    required
                    pattern="[a-z0-9AZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,100}"
                    title="Solo letras o números, maximo 50 caracteres"/>
                <button class="btn btn-outline-success my-2 my-sm-0"
                    style="background-color: transparent; border-color: black;" type="submit" value="submit"><img
                        src="/static/img/buscar.svg" height="25px" width="25px"></button>
            </form>
        </div>
    </div>
    <br>

    <table class="table">
        <thead class="table" style="background-color: #006a94; color: white;">
            <tr>
                <th scope="col">Nombre Residente</th>
                <th scope="col">Nombre Quien Pago</th>
                <th scope="col">Nombre Admin</th>
                <th scope="col">Monto</th>
                <th scope="col">Fecha y Hora de Pago</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for p in pagos %}
            <tr>
                <td>{{p.nombreRe}} {{p.apellidoPRe}} {{p.apellidoMRe}}</td>
                <td>{{p.nombrePPa}}</td>
                <td>{{p.nombreAd}}</td>
                <td>${{p.montoPagos}}</td>
                <td>{{p.fechaPagos}} - {{p.horaPagos}}</td>
                <td>
                    <div class="btn-group dropend">
                        <button type="button" class="btn btn-g btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Acciones
                        </button>
                        <ul class="dropdown-menu">
                            {% if session['userid'] == (2 or 3) %}
                            <li>
                                <a class="dropdown-item btn-ac" href="/ReciboPago/{{p.idPa}}" target="_blank"><button
                                        type="button" class="btn btn-a btn-outline-dark btn-sm btn-bd-primary"><i
                                            class="fa-regular fa-pen-to-square"
                                            style="font-size: 23px; color: cornflowerblue;"></i></button>
                                    Ver Recibo de Pago</a>
                            </li>
                            {% else %}
                            
                            <li>
                                <a class="dropdown-item btn-ac" href="/ReciboPago/{{p.idPa}}" target="_blank"><button
                                        type="button" class="btn btn-a btn-outline-dark btn-sm btn-bd-primary"><i
                                            class="fa-regular fa-pen-to-square"
                                            style="font-size: 23px; color: cornflowerblue;"></i></button>
                                    Ver Recibo de Pago</a>
                            </li>
                            <li>
                                <a class="dropdown-item btn-ra" data-bs-toggle="modal" href=""
                                    data-bs-target="#eliminar{{p.idPa}}"><button type="button"
                                        class="btn btn-r btn-outline-dark btn-sm btn-bd-primary"><i
                                            class="fa-regular fa-trash-can"
                                            style="font-size: 26px; color: red;"></i></button> Eliminar</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>

            <!-- Modal -->
            <!-- Modal Eliminar-->
            <div class="modal fade" id="eliminar{{p.idPa}}" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/EliminarPago" method="POST">
                                <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                                <input type="hidden" name="idPa" value="{{p.idPa}}">
                                <i class="fas fa-exclamation-circle iconogrande"
                                    style="font-size: 80px; color: red; float: left; margin-right: 30px; margin-left: 20px;"></i>
                                <p>
                                    ¿Deseas eliminar este pago?
                                <h5 style="color: black;"> "Residente: {{p.apellidoPRe}} {{p.apellidoMRe}}
                                    {{p.nombreRe}}
                                </h5>
                                <h5>Cantidad: ${{p.montoPagos}} - Fecha: {{p.fechaPagos}}"</h5>
                                </p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light botoncolor"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-light botoncolor">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
                <!-- APLICAR EL DOBLE MODAL -->



                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}